# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

In [1]:
import pandas as pd

marketing_customer_analysis = pd.read_csv("marketingfile.csv")
marketing_customer_analysis

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,18/02/2011,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,18/01/2011,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,10/02/2011,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,11/01/2011,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,17/01/2011,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,19/01/2011,Unemployed,F,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,06/01/2011,Employed,F,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,06/02/2011,Employed,F,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A,2
10908,10908,WA60547,California,11971.977650,No,Premium,College,13/02/2011,Employed,F,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,10909,IV32877,California,6857.519928,No,Basic,Bachelor,08/01/2011,Unemployed,M,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,A,1

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [2]:
marketing_customer_analysis.columns.tolist()

['unnamed:_0',
 'customer',
 'state',
 'customer_lifetime_value',
 'response',
 'coverage',
 'education',
 'effective_to_date',
 'employmentstatus',
 'gender',
 'income',
 'location_code',
 'marital_status',
 'monthly_premium_auto',
 'months_since_last_claim',
 'months_since_policy_inception',
 'number_of_open_complaints',
 'number_of_policies',
 'policy_type',
 'policy',
 'renew_offer_type',
 'sales_channel',
 'total_claim_amount',
 'vehicle_class',
 'vehicle_size',
 'vehicle_type',
 'month']

In [3]:
filter1 = marketing_customer_analysis['total_claim_amount'] > 1000
filter2 = marketing_customer_analysis['response'] == 'Yes'

claimresponse = marketing_customer_analysis[filter1 & filter2]
claimresponse

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
189,189,OK31456,California,11009.130490,Yes,Premium,Bachelor,24/01/2011,Employed,F,...,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A,1
236,236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,24/01/2011,Employed,F,...,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A,1
419,419,GW43195,Oregon,25807.063000,Yes,Extended,College,13/02/2011,Employed,F,...,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A,2
442,442,IP94270,Arizona,13736.132500,Yes,Premium,Master,13/02/2011,Disabled,F,...,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A,2
587,587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,26/01/2011,Unemployed,M,...,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10351,10351,FN44127,Oregon,3508.569533,Yes,Extended,College,05/01/2011,Medical Leave,M,...,1,Personal Auto,Personal L2,Offer2,Branch,1176.278800,Four-Door Car,Small,A,1
10373,10373,XZ64172,Oregon,10963.957230,Yes,Premium,High School or Below,08/02/2011,Employed,M,...,1,Corporate Auto,Corporate L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,A,2
10487,10487,IX60941,Oregon,3508.569533,Yes,Extended,College,05/01/2011,Medical Leave,M,...,1,Personal Auto,Personal L3,Offer2,Branch,1176.278800,Four-Door Car,Small,A,1
10565,10565,QO62792,Oregon,7840.165778,Yes,Extended,College,14/01/2011,Employed,M,...,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,Four-Door Car,Medsize,A,1
10708,10708,CK39096,Oregon,5619.689084,Yes,Premium,High School or Below,26/01/2011,Unemployed,M,...,1,Personal Auto,Personal L3,Offer2,Web,1027.000029,SUV,Medsize,A,1

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [4]:
filter2 = marketing_customer_analysis['response'] == 'Yes'

dfresponse = marketing_customer_analysis[filter2]
dfresponse

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,11/01/2011,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
8,8,FM55990,California,5989.773931,Yes,Premium,College,19/01/2011,Employed,M,...,1,Personal Auto,Personal L1,Offer2,Branch,739.200000,Sports Car,Medsize,A,1
15,15,CW49887,California,4626.801093,Yes,Basic,Master,16/01/2011,Employed,F,...,1,Special Auto,Special L1,Offer2,Branch,547.200000,SUV,Medsize,A,1
19,19,NJ54277,California,3746.751625,Yes,Extended,College,26/02/2011,Employed,F,...,1,Personal Auto,Personal L2,Offer2,Call Center,19.575683,Two-Door Car,Large,A,2
27,27,MQ68407,Oregon,4376.363592,Yes,Premium,Bachelor,28/02/2011,Employed,F,...,1,Personal Auto,Personal L3,Offer2,Agent,60.036683,Four-Door Car,Medsize,A,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10844,10844,FM31768,Arizona,5979.724161,Yes,Extended,High School or Below,07/02/2011,Employed,F,...,3,Personal Auto,Personal L1,Offer2,Agent,547.200000,Four-Door Car,Medsize,A,2
10852,10852,KZ80424,Washington,8382.478392,Yes,Basic,Bachelor,27/01/2011,Employed,M,...,2,Personal Auto,Personal L2,Offer2,Call Center,791.878042,Four-Door Car,Medsize,A,1
10872,10872,XT67997,California,5979.724161,Yes,Extended,High School or Below,07/02/2011,Employed,F,...,3,Personal Auto,Personal L3,Offer2,Agent,547.200000,Four-Door Car,Medsize,A,2
10887,10887,BY78730,Oregon,8879.790017,Yes,Basic,High School or Below,03/02/2011,Employed,F,...,7,Special Auto,Special L2,Offer1,Agent,528.200860,SUV,Small,A,2
10897,10897,MM70762,Arizona,9075.768214,Yes,Basic,Master,26/01/2011,Employed,M,...,8,Personal Auto,Personal L1,Offer1,Agent,158.077504,Sports Car,Medsize,A,1

In [5]:
marketing_customer_analysis_pivot = dfresponse.pivot_table(index="gender", columns ="policy_type" , values = "total_claim_amount", aggfunc='mean')
marketing_customer_analysis_pivot

policy_type  Corporate Auto  Personal Auto  Special Auto
gender
F                433.738499     452.965929    453.280164
M                408.582459     457.010178    429.527942

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [6]:
countstate = marketing_customer_analysis['state'].value_counts()
countstate

California    4183
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: state, dtype: int64

In [7]:
marketing_customer_analysis['policy'].isna().any()

False

In [10]:
filter3 = countstate['state'] > 500
statepivott = marketing_customer_analysis[filter3]
statepivott

KeyError: 'state'

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [ ]:
pivotmean = dfresponse.pivot_table(index="gender", columns ="education" , values = "customer_lifetime_value", aggfunc='mean')
pivotmean

education,Bachelor,College,Doctor,High School or Below,Master
gender,,,,,
F,7377.743168,7083.116481,4501.957277,10679.830995,7932.822228
M,8647.850455,7440.365903,6544.019839,6850.481334,7738.723086

In [ ]:
pivotmax = dfresponse.pivot_table(index="gender", columns ="education" , values = "customer_lifetime_value", aggfunc='max')
pivotmax

education,Bachelor,College,Doctor,High School or Below,Master
gender,,,,,
F,33473.34946,25807.06300,6265.343299,41787.90343,19160.98994
M,24127.50402,22332.43946,12731.951610,12298.68630,14435.67365

In [ ]:
pivotmin = dfresponse.pivot_table(index="gender", columns ="education" , values = "customer_lifetime_value", aggfunc='min')
pivotmin

education,Bachelor,College,Doctor,High School or Below,Master
gender,,,,,
F,2248.449633,2004.350666,2395.570000,2397.036098,2574.020376
M,2300.691547,2393.915369,2491.317024,2227.072755,2551.226692

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here